:root{
    --tablet-max-width: 1280px;
    --mobile-max-width: 820px;

    --font-family:'Inter', 'Sans-Serif';

    --color-accent-hue: 221;

    --color-accent: hsl(var(--color-accent-hue) 83% 53% / 1);
    --color-accent-dark: hsl(var(--color-accent-hue) 83% 33% / 1);
    --color-accent-gradient: linear-gradient(90deg, var(--color-accent) 0%, var(--color-accent-dark) 100%);

    --color-black: hsl(0 0% 0% / 1);
    --color-text-primary: hsl(0 0% 33% / 1);
    --color-input-text-active: hsl(0 0% 40% / 1);
    --color-muted: hsl(0 0% 50% / 1);
    --color-input: hsl(0 0% 70% / 1);
    --color-light-gray: hsl(0 0% 90% / 1);
    --color-lighter-gray: hsl(0 0% 95% / 1);
    --color-white: hsl(0 0% 100% / 1);

    --color-footer-bg: hsl(var(--color-accent-hue) 50% 10% / 1);
    --color-footer-hr: hsl(215 15% 30% / 1);

    --color-web-development-text: hsl(221 60% 25% / 1);
    --color-accessibility-text: hsl(135 60% 25% / 1);

    --pill-border-radius: 16px;

    --padding-section: 24px;
    --padding-header: 32px;
    --padding-small: 8px;
    
    --margin-center: 0 auto;
    
    --border-radius: 8px;

    --gap-large: 24px;
    --gap-medium: 20px;
    --gap-small: 8px;

    --font-size-xs: 0.875rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.125rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.5rem;
    --font-size-2xl: 1.875rem;
    --font-size-3xl: 2.25rem;

    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    --icon-search: url("https://api.iconify.design/material-symbols:search.svg");
    --icon-notifications: url("https://api.iconify.design/material-symbols:notifications.svg"); 
    --icon-arrow-back: url("https://api.iconify.design/material-symbols:arrow-back-ios.svg");
    --icon-arrow-forward: url("https://api.iconify.design/material-symbols:arrow-forward-ios.svg");
    --icon-clock: url("https://api.iconify.design/material-symbols:nest-clock-farsight-analog-outline.svg");
    --icon-x: url("https://api.iconify.design/mingcute:social-x-fill.svg");
    --icon-linkedin: url("https://api.iconify.design/mdi:linkedin.svg");
    --icon-github: url("https://api.iconify.design/mdi:github-box.svg");
    --icon-email: url("https://api.iconify.design/mdi:email.svg");
    --icon-phone: url("https://api.iconify.design/mdi:phone.svg");
}

/* Focus outline animation */

@keyframes borderPulse {
  to { outline-color: transparent; }
}

/* Form elements */
div:has(> input[type=text]){
    width:100%;
    height:40px;
    background-color: var(--color-lighter-gray);
    border-radius: var(--border-radius);
    border: 1px solid var(--color-light-gray);
    display:flex;
    padding:0 12px;
    gap: var(--gap-small);
    
    >i{
        width:18px;
        height:auto;
        display:inline-block; 
        margin-right:4px;
        background-color:var(--color-input);
        &.search-icon{
            -webkit-mask: var(--icon-search) no-repeat center / contain;
            mask: var(--icon-search) no-repeat center / contain;
        }
    }
    >input[type=text]{
        color: var(--color-input-text-active);
    }
    >input[type=text]::placeholder{
        color:var(--color-input);
    }
}
input[type=text]{
    width:100%;
}

:focus-visible:not(input, textarea, select),
div:has(> input[type="text"]):focus-within {
    border-radius: var(--border-radius);
    outline: 3px dashed var(--color-accent);
    outline-offset: 3px;
    animation: borderPulse .5s infinite alternate;
}

input[type="text"]:focus-visible {
    outline: none;
}

:is(
    section[aria-label="Newsletter"],
    body > section:first-of-type,
    body > footer
) :is(
    div:has(> input[type="text"]):focus-within,
    button:focus-visible,
    a:focus-visible
) {
    outline-color: var(--color-white);
    outline-offset: 5px;
}

button{
    background-color:var(--color-accent);
    color: var(--color-white);
    padding: 8px 16px;
    border-radius: 6px;
    display:flex;

    >i{
        width:18px;
        height:auto;
        display:inline-block;
        margin-right:8px;
        background-color: var(--color-white);
        &.subscribe-icon{
            -webkit-mask: var(--icon-notifications) no-repeat center / contain;
            mask: var(--icon-notifications) no-repeat center / contain;
        }
    }
}

/* Links */

a:hover{
    text-decoration:underline;

    main>section>article>header &{
        text-decoration:underline;
    }
    main>section>article>footer & img{
        outline:1px solid var(--color-muted);
        outline-offset:2px;
    }
    body>footer &{
        color:#FFFFFF;
    }
}

/* Global Headings */

h1{
    font-size: var(--font-size-3xl);
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
    color:var(--color-black);
}

h2{
    font-size: var(--font-size-2xl);
    line-height: 1.2;
    font-weight: var(--font-weight-bold);
    color:var(--color-black)
}

h3{
    font-size: var(--font-size-xl);
    line-height: 1.25;
    font-weight: var(--font-weight-bold);
    color:var(--color-black);
}

h4{
    font-size: var(--font-size-md);
    font-weight: var(--font-weight-semibold);
    color:var(--color-black);
    margin-bottom:16px;
}


/* Layout */

body{
    font-family: var(--font-family);
    color: var(--color-text-primary);
    margin: var(--margin-center);
}

/* Header */

body>header{
    max-width:1280px;
     height:72px;
    margin: var(--margin-center);
    padding:0 var(--padding-header);
    display:flex;
    justify-content:space-between;
    align-items:center;
    >nav{
        display:flex;
        gap:20px;
        align-items:center;
        >ul{
            display:flex;
            gap:20px;
            >li{
                list-style:none;
                >a{
                    text-decoration:none;
                    color: var(--color-text-primary);
                    font-size: var(--font-size-sm);
                    font-weight: var(--font-weight-normal);
                    &:hover{
                        text-decoration:underline;
                    }
                    &.active{
                        color:var(--color-accent);
                    }
                }
            }
        }
    }
}

/* Hero Section */

body>section:first-of-type{
    background:var(--color-accent-gradient);
    color:#FFFFFF;
    height:324px;
    display:flex;
    flex-direction: column;
    gap: var(--gap-medium);
    justify-content:center;
    align-items:center;

    >h1{
        color: var(--color-white);
    }
    >p{
        font-size: var(--font-size-lg);
        font-weight: var(--font-weight-normal);
    }
    >div:has(> input[type=text]){
        max-width:480px;
    }
}

body>div{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap-large);
    max-width:1280px; 
    padding:48px var(--padding-header);
    margin: var(--margin-center);
    justify-content: space-between;
}

main{
    >header{ 
        margin-bottom:32px;
    }
}

/* Featured Articles */

section[aria-label="Featured Articles"]{
    display:flex;
    flex-direction: column;
    gap:32px;

    >header{
        >p{
            color:var(--color-text-primary);
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-normal);
            margin-top:8px;
        }
    }

    >footer{
        width:100%;
        >nav{
            display:flex;
            gap: var(--gap-small);
            justify-content:center;
            >a{
                display:inline-block;
                height:auto;
                border-radius: 6px;
                padding:10px 12px;
                text-decoration:none;

                &:first-child{
                    -webkit-mask: var(--icon-arrow-back) no-repeat center / contain;
                    mask: var(--icon-arrow-back) no-repeat center / contain;
                    background-color: var(--color-muted); 
                    background-position: 50% 50%;
                }
                &.current{
                    background-color: var(--color-accent);
                    color: var(--color-white);
                }
                &.muted{
                    color:var(--color-muted);
                    cursor: not-allowed;
                }
                &:last-child{
                    -webkit-mask: var(--icon-arrow-forward) no-repeat center / contain;
                    mask: var(--icon-arrow-forward) no-repeat center / contain;
                    background-color: var(--color-text-primary);
                    background-position: 50% 50%;
                }
            }
        }
    }
}

/* Individual Articles */

section[aria-label="Featured Articles"]>article{
    max-width:800px;
    display:flex;
    flex-direction: column;
    gap:16px;
    border-radius: var(--border-radius);
    border-bottom:3px solid var(--color-light-gray);

    /* Article Header */

    >header{
        >p{
            height:256px;
            >img{
                width:100%;
                height:100%;
                object-fit:cover;
                object-position: top;
                border-radius:8px 8px 0 0; 
            }
        }
        >div{
            display:flex;
            justify-content:flex-start;
            align-items:center;
            gap:16px;
            padding: var(--padding-section);

            >a{
                font-size: var(--font-size-xs);
                line-height:100%;
                font-weight: var(--font-weight-medium);
                padding:8px 16px;
                border-radius: var(--pill-border-radius);
                text-align:center;

                &.web-development{
                    background-color:var(--color-light-gray);
                    color:var(--color-web-development-text);
                }
                &.accessibility {
                    background-color:var(--color-light-gray);
                    color:var(--color-accessibility-text);
                }
                &:hover{
                    background-color:var(--color-lighter-gray);
                }
            }
            >time{
                font-size: var(--font-size-xs);
                line-height:100%;
                font-weight: var(--font-weight-normal);
            }
        }
        >a{
            display:inline-block;
            text-decoration:none;
            margin:0 var(--padding-section);
            color:var(--color-black); 
        }
    }

    /* Article Body */

    >p{
        display:inline-block;
        padding:0 var(--padding-section);
    }

    /* Article Footer */

    >footer{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        align-items:first baseline;
        >a{
            display:flex;
            flex-direction: row; 
            gap:12px;
            margin: var(--padding-section);
            text-decoration:none;
            >img{
                width:40px;
                height:40px;
                border-radius:50%;
                object-fit:cover;
                margin-right: var(--gap-small)
            }
            >span{
                display:flex;
                flex-direction:column;
                justify-content:center;
                >span{
                    &:first-child{
                        font-size: var(--font-size-sm);
                        font-weight: var(--font-weight-medium);
                        color:var(--color-black);
                    }
                    &:last-child{
                        font-size: var(--font-size-xs);
                        font-weight: var(--font-weight-normal);
                        color:var(--color-text-primary);
                    }
                }
            }
        }
        div{
            display:flex;
            margin: var(--padding-section);
            gap:1px;
            font-size: var(--font-size-xs);
            font-weight: var(--font-weight-normal);
            color:var(--color-muted);
            >i{
                width:18px;
                height:auto;
                display:inline-block;
                margin-right:2px;
                background-color:var(--color-muted); 
                &.time-icon{ 
                    -webkit-mask: var(--icon-clock) no-repeat center / contain;
                    mask: var(--icon-clock) no-repeat center / contain;
                }
            }
        }
    }
}

/* Sidebar */

aside{
    max-width:384px; 
    width:100%;
    display:flex;
    flex-direction: column;
    gap:24px;
    >section[aria-label="Categories"], >section[aria-label="Popular posts"]{
        border-radius: var(--border-radius); 
        padding: var(--padding-section);
        border-bottom:3px solid var(--color-light-gray);

        >ul li{
            display:flex;
            justify-content: space-between;
            padding: 8px 6px;
            font-size: var(--font-size-sm);
            font-weight: var(--font-weight-normal); 

            >span{
                color:var(--color-muted);
            }
        }
    }
    >section[aria-label="Popular posts"]{
        >ul li {
            display:block; 
            overflow:hidden; 
            img{
                width:64px;
                height:64px;
                object-fit:cover;
                border-radius:6px;
                float:left;
                margin-right:12px;
            }
            a{
                display:block;
                overflow:hidden;
                font-size: var(--font-size-xs);
                font-weight: var(--font-weight-medium);
            }
            span{
                font-size:12px;
                color:var(--color-muted);
            }
        }
    }
    >section[aria-label="Newsletter"]{
        display:flex;
        gap: 16px;
        flex-direction: column; 
        background-color:var(--color-accent);
        border-radius: var(--border-radius);
        padding: var(--padding-section);
        color:#FFFFFF;
        >h4{
            color: var(--color-white);
        }
        >p{
            width:100%; 
        }
        >div:has(> input[type=text]){
            width:100%;
            >input{
                width:100%;
                color:var(--color-input);
                font-size: var(--font-size-sm);
            }
        }
        >button{
            width:100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-white);
            color:var(--color-accent); 
        }
    }
}

/* Footer */

body>footer{
    margin: var(--margin-center);
    background-color:var(--color-footer-bg);
    padding: var(--padding-header);
    display:flex;
    flex-direction:column;
    gap: var(--gap-large);
    >div{
        max-width:1280px; 
        margin: var(--margin-center);
        display:flex;
        flex-direction: row;
        justify-content:space-between;
        align-items:flex-start;
        gap: var(--gap-large);
        width:100%;
        padding:0 var(--padding-header);
        >section{
            flex:1;
            font-size: var(--font-size-xs); 
            >p{
                color:var(--color-input);
                text-wrap:pretty;
                line-height:1.5;
                padding: var(--padding-small) 0; 
            }
            >h4{
                color: var(--color-white);
            }
            >span,ul li{
                margin-top:16px;
                display:flex;
                gap:16px;
                padding: var(--padding-small) 0;

                >a {
                    color:var(--color-input);
                    >i{
                        width:20px;
                        height:16px;
                        margin-right:1px;
                        margin-top:2px;
                        display:inline-block;
                        background-color:var(--color-input);  
                        &.x-icon{ 
                            -webkit-mask: var(--icon-x) no-repeat center / contain;
                            mask: var(--icon-x) no-repeat center / contain;
                        }
                        &.linkedin-icon{ 
                            -webkit-mask: var(--icon-linkedin) no-repeat center / contain;
                            mask: var(--icon-linkedin) no-repeat center / contain;
                        }
                        &.github-icon{ 
                            -webkit-mask: var(--icon-github) no-repeat center / contain;
                            mask: var(--icon-github) no-repeat center / contain;
                        }
                        &:hover{
                            background-color:var(--color-white);
                        }
                    }
                }
            }
            &:last-child>ul>li{
                display:flex;
                align-items:center;
                >i{
                    width:20px;
                    height:20px;
                    display:inline-block;
                    margin-right:8px;
                    background-color:var(--color-muted);  
                    &.email-icon{ 
                        -webkit-mask: var(--icon-email) no-repeat center / contain;
                        mask: var(--icon-email) no-repeat center / contain;
                    }
                    &.phone-icon{ 
                        -webkit-mask: var(--icon-phone) no-repeat center / contain;
                        mask: var(--icon-phone) no-repeat center / contain;
                    }
                }
            }
        }
    }
    >section{ 
        max-width:1210px;
        width:100%;
        margin: var(--margin-center); 
        border-top:1px solid var(--color-footer-hr);
        padding-top: var(--padding-header);
        display:flex;
        justify-content:space-between; 
    }
}

/* Responsive Design */

@media (max-width: 1280px) {
    body>div{
        padding:24px 16px;
    }
    main{
        max-width:100%;
    }
    section[aria-label="Featured Articles"]>article{
        max-width:100%;
    }
    aside{
        max-width:100%; 
        flex-direction: row;
        >section{
            flex: 1;
            height:auto; 
        }
    }
}
@media (max-width: 820px) { 
    body>div{
        padding:24px 16px;
    }
    main{
        max-width:100%;
    }
    section[aria-label="Featured Articles"]>article{
        max-width:100%;
    }
    aside{
        max-width:100%; 
        flex-direction: column; 
        >section{
            flex: 1;
            height:auto; 
        }
    }
    body>footer>div{
        flex-direction:column;
        gap: var(--gap-large);
    }
}
